<div class="container">
  <h3 class="title is-3">Recent Projects</h3>

  <div *ngFor="let project of projects1st; let i = index" class="tile is-ancestor" role="alert">
    <div class="tile is-parent">
      <div class="tile is-child box">
        <a routerLink="/detail/{{project.id}}">
          <h4 class="alert-heading">{{project.name}}</h4>
        </a>
        <p>
          {{project.skill}}
        </p>
        <hr>
        <p class="mb-0">{{project.desc}}</p>

      </div>
    </div>
  </div>
<div *ngFor="let project of projects2nd; let i = index" class="tile is-ancestor" role="alert">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <a routerLink="/detail/{{project.id}}">
        <h4 class="alert-heading">{{project.name}}</h4>
      </a>
      <p>
        {{project.skill}}
      </p>
      <hr>
      <p class="mb-0">{{project.desc}}</p>
    </div>
  </div>
</div>

</div>
